*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: inherit;
    display: flex;
    justify-content: center;
  
}
.calculator{
    background-color: rgb(168, 237, 214);
    min-width: 250px;
    display: flexbox;
    border-radius: .5rem;
    justify-content: center;
    margin-top: 15rem;
}
.calculator button{
    width: 75%;
    
}
.calculator button,.calculator input{
    border-radius: .5rem;
    box-shadow: 3px 3px 6px rgb(87, 86, 86);
}

.calculator button:hover{
    transform: translate(-5%,-5%);
    transition: opacity 0.5s ease  ;
    background-color: rgb(52, 54, 54);
    color: azure;
   
}
